{% extends "base.html.twig" %}

{% block body %}
	<div>
		{% if messages|length > 0 %}
				{% for key, message in messages|slice(0,limit) %}
				<a href="{{ path('app_show_one', { id: key}) }}">
					<p>
						{{ message.message }}
					</p>
					</a>
					{{ include('hello/_message.html.twig') }}
				{% endfor %}
		{% else %}
			<h2>There's nothing here yet</h2>
		{% endif %}
	</div>
{% endblock %}
