{% extends "base.html.twig" %}

{% block body %}
	<div>
		{% if messages|length > 0 %}

			<ul>
				{% for message in messages %}
					<li>
						{{ message }}
					</li>

				{% endfor %}
			</ul>
		{% else %}
			<h2>There's nothing here yet</h2>
		{% endif %}
	</div>
{% endblock %}
